.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
  width: 90vw;
  /* margin-top: 180px; */
  
} 

.App{
  margin:0;
  /* margin-top:20px; */
  width: 90vw;  
  min-width: 300px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.4rem;
  font-weight: bolder;
 /*  border: 2px solid blue; */
}



.welcome{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  /* margin-top: -100px; */
 /*  border:2px solid red; */
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color:#293264;
  font-size: 1rem;
  border-bottom: 2px solid #DBDEF0;
}

label{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


input, select{
  position: relative;
  margin: 5px auto;
  background-color: #DBDEF0;
  color:black;
  border:none;
  border-radius: 5px;
  text-align: center;
  width:max-content;
}

@media only screen and (max-width: 400px) {
  .App{
    font-size: 1.2rem;
    font-weight: bolder;
   /*  border: 2px solid blue; */
  }

}

.blobs-blue{
  background-image: url(blobsblue.png);
  position: fixed;
  bottom: 0;
  left: 0;
  height: 118px;
  width: 148px;
  z-index: 100000;
 }
 
 .blobs-yellow{
   background-image: url(blobsyellow.png);
   background-repeat: no-repeat;
   background-position: 0px;
   position: fixed;
   top:0;
   right: 0;
   height: 197px;
   width: 194px;
   z-index: 100000;
   
 }